<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929504512954-43j80v82p6uiotaefsdmsdqmmd9rsvl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929504512954-43j80v82p6uiotaefsdmsdqmmd9rsvl3</string>
	<key>API_KEY</key>
	<string>AIzaSyA2an-sa7hhftVIxWVdae4K0K9-cZ3oniw</string>
	<key>GCM_SENDER_ID</key>
	<string>929504512954</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ozancicek.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-977ee</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-977ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929504512954:ios:89a60b8e92f6c63e9cab83</string>
</dict>
</plist>